/* Paleta de colores del logo:
  Azul: #5343f1
  Morado: #851ff8
*/

.bg-blue {
  background-color: #5443f11b!important;
}

.border-purple {
  border: 2px solid #851ff8!important;
}

.text-purple {
  color: #851ff8!important;
}

.btn:hover {
  background-color: #5443f15f!important;
  border-color:  #6a17c8!important;
  color: #6a17c8!important;
}

.form-control:focus, select:focus, input:focus{
  color: #081a7a !important;
  border-color: #e1bee7b8 !important;
  box-shadow: 0 0 0 0.25rem #9575cde8 !important;
}

.header-logo {
  width: 80%;
}

@media (min-width: 768px) {
    .header-logo {
        width: 60%;
    }
    
    .header-perfil {
      width: 70%;
    }
}

@media (min-width: 992px) {
  .header-logo {
      width: 40%;
  }

  .header-perfil {
    width: 40%;
  }
}
