.supportCard {
  border: 1px solid #851ff8 !important;
  border-radius: 5px !important;
  padding: 1.5em !important;
  margin-bottom: 1em !important;
}

.darkBlueText {
  color: #5343f1;
}

.darkBlueText:hover {
  color: #851ff8;
}