.supportDetails {
  border: 2px solid #851ff8 !important;
  border-radius: 8px !important;
  margin-bottom: 1em!important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)!important;
}

.supportCard {
  border: 2px solid #5343f1!important;
  border-radius: 10px!important;
  margin-bottom: 1em!important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)!important;
}

.bottomBorder {
  border-bottom: 2px solid #851ff8 !important;
}

.darkBlueText {
  color: #5343f1 !important;
}

.darkBlueText:hover {
  color: #851ff8 !important;
}

.bgBlue {
  background-color: #eae7ff6e!important;
}

.bgGreen {
  background-color: #c6fcc97c;
}

.hGreen {
  background-color: #59de60dc;
}

.bgYellow {
  background-color: #f9fcc672;
}

.hYellow {
  background-color: #f6ff71;
}

.bgRed {
  background-color: #fccfc672;
}

.hRed {
  background-color: #ff8471;
}